{% extends "base.html" %}
{% block content %}
<h2>I want to feel ...</h2>
<form action="/goal" method="post">
  <button class="my_button" name="goal" value="lift_me_up">Happy</button>
  <button class="my_button" name="goal" value="chill_me_out">Chill</button>
  <button class="my_button" name="goal" value="fire_me_up">Energetic</button>
  <button class="my_button" name="goal" value="keep_me_here">Just the same</button>
  <button class="my_button" name="goal" value="surprise_me">Surprise me!</button>
</form>
{% endblock %}