{% extends "base.html" %}
{% block content %}
<h2>How Do You Feel Now?</h2>
<form action="/mood" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="form-row">
    <label for="valence" class="info-label width-100">
      Valence
      <span class="info-icon" tabindex="0">
        <i class="fa-solid fa-circle-info"></i>
        <span class="tooltip-text">How positive or negative you feel</span>
      </span>
    </label>
    <input type="range" id="valence" name="valence" min="0" max="100" value="50" />
  </div>
  <div class="form-row">
    <label for="energy" class="info-label width-100">
      Energy
      <span class="info-icon" tabindex="0">
        <i class="fa-solid fa-circle-info"></i>
        <span class="tooltip-text">How energetic or calm you feel</span>
      </span>
    </label>
    <input type="range" id="energy" name="energy" min="0" max="100" value="50" />
  </div>
  <div class="form-row">
    <button class="my_button" type="submit" name="submit-mood" id="submit-mood">Submit</button>
  </div>
</form>
{% endblock %}