{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
<!-- preferences.js needs to be loaded before Alpine.js -->
<script defer src="{{ url_for('static', filename='js/preferences.js') }}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/csp@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
{% endblock %}

{% block content %}
<h2>Pick your favs.</h2>
<!--Use Alpine.js to bind the preferences to the form-->
<div x-data="preferences">
  <script type="application/json" id="preferences-data">
    {{ preferences | tojson | safe }}
  </script>
  <form action="/preferences" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="source" value="{{ source }}">
    <div>
      <p class="info-label">Search Artists
        <span class="info-icon" tabindex="0">
          <i class="fa-solid fa-circle-info"></i>
          <span class="tooltip-text">Start typing to search and select your favorite artists.</span>
        </span>
      </p>
      <select id="artist-select" name="artists" multiple></select>
    </div>
    <br />
    <div>
      <p class="info-label">
        Genres To Explore
        <span class="info-icon" tabindex="0">
          <i class="fa-solid fa-circle-info"></i>
          <span class="tooltip-text">Select one or more genres to explore.</span>
        </span>
      </p>
      <div class="option-row">
        <label><input type="checkbox" name="genres" value="Classical" x-model="genres" />Classical</label>
        <label><input type="checkbox" name="genres" value="Country" x-model="genres" />Country</label>
        <label><input type="checkbox" name="genres" value="Electronic" x-model="genres" />Electronic</label>
        <label><input type="checkbox" name="genres" value="Folk" x-model="genres" />Folk</label>
        <label><input type="checkbox" name="genres" value="Gospel" x-model="genres" />Gospel</label>
        <label><input type="checkbox" name="genres" value="Hip-Hop" x-model="genres" />Hip-Hop</label>
        <label><input type="checkbox" name="genres" value="Jazz" x-model="genres" />Jazz</label>
        <label><input type="checkbox" name="genres" value="Metal" x-model="genres" />Metal</label>
        <label><input type="checkbox" name="genres" value="Pop" x-model="genres" />Pop</label>
        <label><input type="checkbox" name="genres" value="Rock" x-model="genres" />Rock</label>
        <label><input type="checkbox" name="genres" value="World" x-model="genres" />World</label>
        <label><input type="checkbox" name="genres" value="Other" x-model="genres" />Other</label>
      </div>
    </div>
    <br />
    <div class="form-row">
      <label for="popularity" class="info-label width-100">
        Popularity
        <span class="info-icon" tabindex="0">
          <i class="fa-solid fa-circle-info"></i>
          <span class="tooltip-text">Choose from hits to hidden gems.</span>
        </span>
      </label>
      <input type="range" id="popularity" name="popularity" min="0" max="100" x-model="popularity" />
    </div>
    <div class="form-row">
      <label for="instrumentalness" class="info-label width-100">
        Instrumental
        <span class="info-icon" tabindex="0">
          <i class="fa-solid fa-circle-info"></i>
          <span class="tooltip-text">Choose from instrumental to vocal tracks.</span>
        </span>
      </label>
      <input type="range" id="instrumentalness" name="instrumentalness" min="0" max="1" step="0.01"
        x-model="instrumentalness" />
    </div>
    <div class="form-row">
      <button class="my_button" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}