{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js" defer></script>
<script src="{{ url_for('static', filename='js/preferences.js') }}" defer></script>
{% endblock %}

{% block content %}
<h2>Pick your favs.</h2>
<form action="/preferences" method="post">
  <input type="hidden" name="source" value="{{ source }}">
  <div>
    <p>Search Artists</p>
    <select id="artist-select" name="artists" multiple></select>
  </div>
  <br />
  <div>
    <p>Genres To Explore</p>
    <div class="option-row">
      <label><input type="checkbox" name="genres" value="Classical" />Classical</label>
      <label><input type="checkbox" name="genres" value="Country" />Country</label>
      <label><input type="checkbox" name="genres" value="Electronic" />Electronic</label>
      <label><input type="checkbox" name="genres" value="Folk" />Folk</label>
    </div>
    <div class="option-row">
      <label><input type="checkbox" name="genres" value="Gospel" />Gospel</label>
      <label><input type="checkbox" name="genres" value="Hip-Hop" />Hip-Hop</label>
      <label><input type="checkbox" name="genres" value="Jazz" />Jazz</label>
      <label><input type="checkbox" name="genres" value="Metal" />Metal</label>
    </div>
    <div class="option-row">
      <label><input type="checkbox" name="genres" value="Other" />Other</label>
      <label><input type="checkbox" name="genres" value="Pop" />Pop</label>
      <label><input type="checkbox" name="genres" value="Rock" />Rock</label>
      <label><input type="checkbox" name="genres" value="World" />World</label>
    </div>
    <br />
    <div class="form-row">
      <label for="popularity" style="width:80px;">Popularity</label>
      <input type="range" id="popularity" name="popularity" min="0" max="100" value="80" />
    </div>
    <div class="form-row">
      <label for="instrumentalness" style="width:80px;">Instrumental</label>
      <input type="range" id="instrumentalness" name="instrumentalness" min="0" max="100" value="20" />
    </div>
    <div class="form-row">
      <button class="my_button" type="submit">Submit</button>
    </div>
</form>
{% endblock %}